<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Telefono</th>
          <th scope="col">Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1.234.123.123</th>
          <td>
            Juan Perez
          </td>
          <td>3129009876</td>
          <td>Calle 80 sur</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
